
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#232323")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400;700&display=swap")
    link(rel="stylesheet", href="./styles/normalize.css")
    link(rel="stylesheet", href="./styles/index.scss")
    block styles

    title Typer
  body
    block body

    script.
      if (process.env.NODE_ENV === 'development') {
        console.log('dev: no sw')
      } else {
        // register service worker
        console.log('prod: sw')
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            const sw = '/service-worker.js';
            navigator.serviceWorker.register(sw);
          })
        }
      }

    block script
