@import "variables.scss";

html {
  font-size: 16px;
  font-family: 'Press Start 2P', -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $p-text;

  padding: 3.5em 10%;
  @include not-mobile-screen {
    padding: 4em 30%; 
  }

  main { 
    h1 {
      font-weight: 700;
      text-transform: uppercase;
      font-style: italic;
    }

    
    .top {
      display: flex;
      justify-content: space-between;
      
      #start_text {
        color: green;

        & .game-over {
          color: red;
        }
      }

      #current_word {
        margin-top: 0.2em;
        margin-right: 0.2em;
        color: $p-text;
        letter-spacing: 0.2em;
      }
      margin-bottom: 2em;
    }
    
    #text_field {
      margin-bottom: 2.5em;
    }

    #score_wrapper {
      margin-bottom: 0.8em;
      font-weight: bold;
    }

    .bottom {
      font-size: 0.8em;
      display: flex;
      align-items: center;

      // darker color to draw less focus
      opacity: 0.5;

      div {
        margin-right: 1em;
      }
    }

    #score_saver {
      margin-top: 3.5em;
      .ann {
        font-size: 1.3em;
        margin-bottom: 0.5em;
      }
      label {
        display: block;
        color: #aaa;
        font-size: 0.9em;
        margin-bottom: 1em;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
      }
    }

    .var-name {
      color: white;
    }
    .equals{
      padding: 0 0.9em;
      color: orange;
    }
    .val {
      color: yellow
    }
    .semi {
      color: gray;
    }
  }
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}