// colors
$bg: #232323;
$p-text: #eeeeef;
$input-text: #ffffff;

$input-bg: #111111;
$input-border: #000000;

@mixin not-mobile-screen {
  @media screen and (min-width: 750px) {
    @content;
  }
}

@mixin low-height-screen {
  @media screen and (max-height: 500px) {
    @content;
  }
}
