extends ./templates/root.pug

block body
  main
    h1 Typer

    .top
      div(id="start_text")
        span Type "
        b start
        span " to play

      div(id="current_word") 

      div(id="time") 0s

    input(id="text_field" type="text")

    div(id='final_score_wrapper')
      span.var-name FINAL_SCORE
      span.equals =
      span(id="final_score").val 0
      span.semi ;

    .bottom
      .score
        span.var-name score
        span.equals =
        span(id="score").val 0
        span.semi ;
      
      .highscore
        span.var-name highscore
        span.equals =
        span(id="highscore") 0
        span.semi ;

block script
  script(src="~/scripts/index.js")

block styles
  link(rel="stylesheet", href="~/styles/index.scss")