extends ./templates/root.pug

block body
  main
    h1 Typer 

    .top
      div(id="start_text")
        span Type "
        b start
        span " to play

      div(id="current_word") 

      div(id="time") 0s

    input(id="text_field" type="text")

    div(id='final_score_wrapper')
      span FINAL_SCORE
      span.equals =
      span(id="final_score") 0
      span ;

    .bottom
      //- .time
      //-   span time
      //-   span.equals =
      //-   span(id="time") 5
      //-   span ;

      .score
        span score
        span.equals =
        span(id="score") 0
        span ;
      
      .highscore
        span highscore
        span.equals =
        span(id="highscore") 0
        span ;

block script
  script(src="~/scripts/index.js")

block styles
  link(rel="stylesheet", href="~/styles/index.scss")