extends ./templates/root.pug

block body
  main
    h1 Highscores

    a(href="/").back back

    article
      #loading Loading ... 
      ol#score_list

block script
  script(src="~/scripts/leaderboard.js")

block styles
  link(rel="stylesheet", href="~/styles/index.scss")
  link(rel="stylesheet", href="~/styles/page.scss")

