extends ./templates/root.pug

block body
  main
    h1 Highscores

    a(href="/").back back

    article
      

block script

block styles
  link(rel="stylesheet", href="~/styles/index.scss")
  link(rel="stylesheet", href="~/styles/page.scss")

